body{
	background:#ccc;
	padding:0px;
	margin:0px;
}

.header-wrapper,.main-wrapper,.footer-wrapper{
	text-align:center;
	width:100%;
	
}

.main-wrapper{
	margin-bottom:10px;
}

#header,#main,#sidebar,#footer{
	width:100%;
	background:#fff;
	padding:15px;
	box-sizing:border-box;
	margin-top:10px;
}

#header{
	margin-top:0;
}

#main{
	float:left;

}

#sidebar{
	float:left;
}

.footer-wrapper{
margin-top:10px;
}
#footer{
	clear:both;
}

@media only screen and
(min-width: 600px) {
    /* For tablets: */
    #sidebar{width:29%;}
    #main{width:69%;}
}
@media only screen and
(min-width: 1024px) {
    /* For desktop: */
    #sidebar{width:29%;}
	#main{width:69%;margin-right:10px;}
    .main-wrapper{width:70%;margin:0 auto;}
}
